#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512
# Install OS instead of upgrade
install
# Reboot after installation
reboot
# Use CDROM installation media
cdrom
cmdline
# Firewall configuration
firewall --disabled
firstboot --disable
ignoredisk --only-use=sda
# Keyboard layouts
# old format: keyboard jp106
# new format:
keyboard --vckeymap=jp106 --xlayouts='jp'
# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp --device=eth0 --noipv6
network --hostname=localhost

# Root password
rootpw --plaintext 0000
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# System timezone
timezone Asia/Tokyo --isUtc
# System bootloader configuration
bootloader --append="crashkernel=auto" --location=mbr --driveorder="sda" --boot-drive=sda
autopart --type=lvm
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel

%packages --ignoremissing
@core
@base
%end

%post --log=/root/ks-post.log
%end
